body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1496px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:534px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:534px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:43px;
  width:446px;
  height:409px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:167px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:691px;
  width:1012px;
  height:167px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:742px;
  width:968px;
  height:98px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:123px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:129px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:125px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:46px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:144px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:46px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:125px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:141px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:137px;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:46px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:0px;
  width:173px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:169px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:133px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:123px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:52px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:46px;
  width:129px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:46px;
  width:144px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:52px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:46px;
  width:125px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:52px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:46px;
  width:141px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:52px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:46px;
  width:173px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:148px;
  width:300px;
  height:199px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:0px;
  width:300px;
  height:199px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:324px;
  width:1328px;
  height:341px;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:65px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:46px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:97px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:93px;
  word-wrap:break-word;
}
#u839_ann {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:1px;
  height:1px;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:46px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:64px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:46px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:67px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:63px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:46px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:75px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:46px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:0px;
  width:65px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:61px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:73px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:69px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:46px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:90px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:86px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:80px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:0px;
  width:79px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:75px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:46px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:0px;
  width:59px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:67px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:69px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:46px;
  width:97px;
  height:67px;
  color:#000000;
  line-height:48px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:67px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:46px;
  width:64px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:46px;
  width:67px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:67px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:46px;
  width:75px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:63px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:67px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:46px;
  width:65px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:46px;
  width:73px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:61px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:67px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:46px;
  width:90px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:78px;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:46px;
  width:80px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:67px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:46px;
  width:79px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:46px;
  width:59px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:82px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:69px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:82px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:113px;
  width:97px;
  height:82px;
  color:#000000;
  line-height:48px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:17px;
  width:92px;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:82px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:113px;
  width:64px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:52px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:82px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:113px;
  width:67px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:82px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:113px;
  width:75px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:82px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:113px;
  width:65px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:53px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:82px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:113px;
  width:73px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:61px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:82px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:113px;
  width:90px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:82px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:113px;
  width:80px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:70px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:82px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:113px;
  width:79px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:82px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:113px;
  width:59px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:75px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:69px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:75px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:195px;
  width:97px;
  height:75px;
  color:#000000;
  line-height:48px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:75px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:195px;
  width:64px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:52px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:75px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:195px;
  width:67px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:195px;
  width:75px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:63px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:75px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:195px;
  width:65px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:53px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:75px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:195px;
  width:73px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:75px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:195px;
  width:90px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:78px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:195px;
  width:80px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:98px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:75px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:195px;
  width:79px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:75px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:195px;
  width:59px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:71px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:69px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:71px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:270px;
  width:97px;
  height:71px;
  color:#000000;
  line-height:48px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:71px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:270px;
  width:64px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:52px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:71px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:270px;
  width:67px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:270px;
  width:75px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:63px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:71px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:270px;
  width:65px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:53px;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:71px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:270px;
  width:73px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:61px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:71px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:270px;
  width:90px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:78px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:71px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:270px;
  width:80px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:270px;
  width:79px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:71px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:270px;
  width:59px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:382px;
  width:68px;
  height:257px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:64px;
  word-wrap:break-word;
}
