body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1496px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:534px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:534px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:43px;
  width:446px;
  height:409px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:167px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:691px;
  width:1012px;
  height:167px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:742px;
  width:968px;
  height:98px;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:123px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:129px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:125px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:46px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:144px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:46px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:125px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:141px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:137px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:46px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:0px;
  width:173px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:169px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:133px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:123px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:52px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:46px;
  width:129px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:46px;
  width:144px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:52px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:46px;
  width:125px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:52px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:46px;
  width:141px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:129px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:52px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:46px;
  width:173px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:148px;
  width:300px;
  height:199px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:0px;
  width:300px;
  height:199px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:324px;
  width:1328px;
  height:341px;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:65px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:46px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:97px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:93px;
  word-wrap:break-word;
}
#u786_ann {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:1px;
  height:1px;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:46px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:64px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:46px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:67px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:63px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:46px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:75px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:46px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:0px;
  width:65px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:61px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:73px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:69px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:46px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:90px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:86px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:80px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:0px;
  width:79px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:75px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:0px;
  width:102px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:98px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:46px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:0px;
  width:59px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:67px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:69px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:46px;
  width:97px;
  height:67px;
  color:#000000;
  line-height:48px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:67px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:46px;
  width:64px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:46px;
  width:67px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:67px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:46px;
  width:75px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:63px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:67px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:46px;
  width:65px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:67px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:46px;
  width:73px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:61px;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:67px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:46px;
  width:90px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:78px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:46px;
  width:80px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:67px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:46px;
  width:79px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:67px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:46px;
  width:102px;
  height:67px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:67px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:46px;
  width:59px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:82px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:69px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:82px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:113px;
  width:97px;
  height:82px;
  color:#000000;
  line-height:48px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:17px;
  width:92px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:82px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:113px;
  width:64px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:52px;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:82px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:113px;
  width:67px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:82px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:113px;
  width:75px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:82px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:113px;
  width:65px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:53px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:82px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:113px;
  width:73px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:61px;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:82px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:113px;
  width:90px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:82px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:113px;
  width:80px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:70px;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:82px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:113px;
  width:79px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:82px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:113px;
  width:102px;
  height:82px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:82px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:113px;
  width:59px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:55px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:75px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:69px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:75px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:195px;
  width:97px;
  height:75px;
  color:#000000;
  line-height:48px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:75px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:195px;
  width:64px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:52px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:75px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:195px;
  width:67px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:195px;
  width:75px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:63px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:75px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:195px;
  width:65px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:53px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:75px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:195px;
  width:73px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:75px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:195px;
  width:90px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:78px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:195px;
  width:80px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:98px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:75px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:195px;
  width:79px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:75px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:195px;
  width:102px;
  height:75px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:75px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:195px;
  width:59px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:71px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:69px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:71px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:270px;
  width:97px;
  height:71px;
  color:#000000;
  line-height:48px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:71px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:270px;
  width:64px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:52px;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:71px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:270px;
  width:67px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:270px;
  width:75px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:63px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:71px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:270px;
  width:65px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:53px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:71px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:270px;
  width:73px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:61px;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:71px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:270px;
  width:90px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:78px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:71px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:270px;
  width:80px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:270px;
  width:79px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:71px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:270px;
  width:102px;
  height:71px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:71px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:270px;
  width:59px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:center;
  line-height:28px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:382px;
  width:68px;
  height:257px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:64px;
  word-wrap:break-word;
}
