body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:672px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:672px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:68px;
  width:410px;
  height:64px;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
